.header {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 2;
}

.header__container {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;

  @include vp-1199 {
    height: 66px;
  }

  @include vp-767 {
    height: 29px;
  }
}

.header__container a {
  font-size: 24px;
  line-height: 26px;
  margin-top: 34px;
  color: $color-default-white;
  position: relative;

  @include vp-1199 {
    font-size: 22px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 16px;
    margin-top: 26px;

    &:hover {
      &::after {
        top: 20px;
      }
    }
  }

  &:hover {
    &::after {
      width: stretch;
      position: absolute;
      content: "";
      height: 0.5px;
      top: 29px;
      background-color: $color-default-white;
      right: 0;
    }
  }

  &:focus {
    color: $color-text-dark;
  }
}

.header__logo {
  @include vp-1199 {
    width: 82px;
  }

  @include vp-767 {
    width: 68px;
  }
}

.header__link {
  pointer-events: none;
}
